


body {
  background-color:#c4dbea;
  background-image:url("Media.jpg");
  background-repeat:no-repeat; 
}

</style>
</head>
hr{
color: red;
height: 10px;
width: 50;
}
a: linkj {
color: yellow;

}


a: visited{
color: purple;
}


< div id = "main" >
 

 < h3 > tester </ h3 >
 

 </ div >


# main {

           position: absolute; top 100px; left: 525px;

     }
     
     #main {

          position: absolute; top 100px; left: 525px;

background - color: silver;

padding: 20px

     }
     h3,h1,h6
{

    fontbody{
        background - color:  #c4dbea;
  background - image:url(graphics / Media.jpg);
    }
    hr{
    color: red;
    height: 10px;
    width: 50;
    }
a: linkj {
    color: yellow;

    }


a: visited{
    color: purple;
    }


< div id = "main" >
 

 < h3 > tester </ h3 >
 

 </ div >


# main {

           position: absolute; top 100px; left: 525px;

}

# main {

position: absolute; top 100px; left: 525px;

background - color: silver;

padding: 20px

     }
     h3,h1,h6
{

    font